$main-color: #131313;
// $r-color: #64d5d4;
// $secondary-color: #ff7ea5;
//$secondary-color: #2ecfe3;
$secondary-color: hsl(237, 63%, 64%);
//$t-color: #676697;
$t-color: hsl(236, 72%, 79%);
//$r-color: #8278cb;
$r-color: hsl(236, 72%, 79%);
$linear: to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%);
//$text-color: hsl(233, 13%, 49%);