@import "./variables";
@import "./global";
@import "./animation";
@import "./mode";
@import "./responsive";

.overview-layer-navbarnav {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0);
  opacity: 0;
  display: none;
  z-index: 100000000 !important;
  transition: all 0.4s ease;
}

.collapse:not(.show) {
  display: flex !important;
}

#name-length,
#email-length,
#message-length {
  position: absolute;
  right: 21px;
}

#name-length {
  top: 17px;
}
#email-length {
  top: 74px;
}
#message-length {
  top: 72%;
}

.arrow-top {
  background-image: linear-gradient($linear);
  width: 60px;
  height: 60px;
  position: fixed;
  right: -77px;
  transition: all 0.4s ease;
  bottom: 30px;
  z-index: 100000;
  border-radius: 10px;
  svg {
    font-size: 30px;
    color: white;
  }
}

.decor-one-line,
.decor-two-line,
.decor-one-circle,
.decor-two-circle {
  position: absolute;
  z-index: -1;
  width: 220px;
}

.decor-one-circle {
  top: 0;
  right: 20px;
}

.decor-one-line {
  top: 0;
  left: 20px;
}

.decor-two-line {
  bottom: 30px;
  right: 20px;
}

.decor-two-circle {
  bottom: 0;
  left: 20px;
}

.contact {
  position: relative;
}

.skills {
  position: relative;
}

.navbar {
  z-index: 1000000000000000000000000;
  ul {
    align-items: center;
    p {
      margin-bottom: 0;
    }
  }
}

.about {
  button {
    font-weight: bold;
  }
}

body.dark {
  .about {
    a {
      color: $secondary-color !important;
    }
  }
}

@media (max-width: 786px) {
  .landing {
    margin-bottom: 242px !important;
    .img-container {
      display: none;
    }
  }
}

body.dark {
  .navbar-brand {
    color: white !important;
    position: relative;
    z-index: 100000000;
    span {
      color: $secondary-color;
    }
  }
}
body.light {
  .navbar-brand {
    color: #010101 !important;
    position: relative;
    z-index: 100000000;
    span {
      color: $secondary-color;
    }
  }
}

footer {
  height: 282px !important;
  .navbar-brand {
    font-weight: bold;
    margin-bottom: 12px;
    display: inline-block;
    font-size: 40px;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  list-style: none;
}

.social-media li {
  font-size: 27px;
}

.social-media li svg {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social-media li svg:hover {
  opacity: 0.7;
}

.social-media li:first-child svg {
  color: #1155af;
}

.social-media li:nth-child(2) svg {
  color: #161b22;
}

.social-media li:nth-child(3) svg {
  color: rgba(255, 0, 0, 0.719) !important;
}

.social-media li:nth-child(4) svg {
  color: #0a4d8f;
}

.wrapper-social-media {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about {
  p {
    b {
      color: $r-color;
    }
  }
}

// pricing
#pricing {
  margin: 104px auto;
  .containerd {
    text-align: center;
    width: 80%;
    max-width: 95%;
    margin: 40px auto;
    position: relative;
    .pricing-cards__container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 30px;
      place-items: center;
      .pricing-cards__container__card {
        padding: 20px;
        background-color: white;
        box-shadow: -1px 1px 7px 1px hsl(234, 14%, 74%);
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 390px;
        min-height: 428px;
        position: relative;

        &:nth-child(2) {
          z-index: 1000;
          min-height: 478px;
          background-image: linear-gradient($linear);
          .pricing-cards__container__card-title {
            color: white;
          }
          .pricing-cards__container__card-price {
            color: white;
          }
          .pricing-cards__container__card-list-item {
            color: white !important;
            &::before,
            &::after {
              background-color: white !important;
            }
          }
          .pricing-cards__container__card-button {
            background: white !important;
            color: hsl(237, 63%, 64%);
            margin-top: 46px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .pricing-cards__container__card-title {
          color: hsl(233, 13%, 49%);
        }
        .pricing-cards__container__card-price {
          font-size: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          color: hsl(232, 13%, 33%);
          margin: 20px 0;
          span {
            font-size: 30px;
          }
        }
        .pricing-cards__container__card-list {
          list-style: none;
          width: 80%;
          padding-left: 0;
          .pricing-cards__container__card-list-item {
            position: relative;
            line-height: 3;
            &::before {
              content: "";
              position: absolute;
              top: -5px;
              background-color: hsl(233, 13%, 49%);
              width: 100%;
              height: 1px;
              left: 0;
            }
            &:last-child:after {
              content: "";
              position: absolute;
              bottom: -5px;
              background-color: hsl(233, 13%, 49%);
              width: 100%;
              height: 1px;
              left: 0;
            }
            color: hsl(233, 13%, 49%);
            margin: 10px 0;
          }
        }
        .pricing-cards__container__card-button {
          background-image: linear-gradient($linear);
          color: white;
          border: none;
          outline: none;
          padding: 15px;
          width: 80%;
          border-radius: 10px;
          font-size: 15px;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .pricing-cards__container__card {
    max-width: 100%;
  }
}
// pricing

body.light {
  .plan {
    background-color: white;
    .card-body {
      color: black;
    }
  }
}
body.dark {
  .plan {
    background-color: #010101;
    .card-body {
      color: white;
    }
    .plan-footer {
      button {
        background-color: $r-color;
        color: white !important;
      }
    }
  }
}

@media (max-width: 767px) {
  .pricing {
    .plan {
      margin-bottom: 50px;
    }
  }
}

.contact-heading + p {
  text-align: center;
  margin: 18px auto;
  font-size: 20px;
  font-weight: 700;
  max-width: 90%;
}

#contact {
  .container {
    .col-sm-12 {
      margin: 10px auto;
    }
    .card {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      height: 80px;
      max-width: 369px;
      background-color: $secondary-color;
      border: none !important;
      margin-left: 15px;

      svg {
        font-size: clamp(1rem, 30px, 2rem);
        color: white;
      }
      a,
      p {
        color: white;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: clamp(0.5rem, 15px, 35px);
        margin-bottom: 0;
      }
    }
  }
}

.work {
  .card {
    img {
      width: 100%;
      height: 100%;
    }
  }
  button.see-more {
    img {
      width: 31px;
      height: 31px;
      margin-left: 10px;
    }
  }
}

.navbar {
  z-index: 1000000000000000000000000;
  height: 100px;
  transition: all 0.4s ease;
  .navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    &:hover {
      transform: scale(1) !important;
    }
    #navbar-toggler-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      span {
        width: 100%;
        height: 2px;
        position: absolute;

        &:first-child {
          left: 10px;
          top: 0;
        }
        &:nth-child(2) {
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
        }

        &:last-child {
          left: 10px;
          bottom: 0;
        }
      }
    }
  }

  .navbar-nav {
    z-index: 10000000000;
    .nav-item {
      .nav-link {
        font-weight: 800;
        &.active,
        &:hover {
          font-weight: 800;
        }
      }
    }
    .toggle-mode {
      background: none;
      padding-left: 13px;
      margin-left: 9px;
      &:hover {
        transform: scale(1) !important;
      }
    }
  }
}

.landing {
  margin-top: 100px;
  margin-bottom: 140px;
  transform: translateY(100px);
  position: relative;
  .container {
    .row {
      .col-sm-6 {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        h1 {
          width: 635px;
          font-size: 2em;
          span {
            color: $secondary-color;
          }
        }
        .img-container {
          width: 510px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .landing {
    .container {
      h1 {
        text-align: center;
        max-width: 300px;
      }
    }
  }
}

.work {
  .see-more {
    max-width: 384px;
    height: 66px;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    margin: 60px auto;
    background-image: linear-gradient(to left, $r-color, $secondary-color);
    color: white;
    text-decoration: none;
    img {
      width: 30px;
      margin-left: 20px;
    }
  }
}

body.dark {
  .contact {
    .contact-heading + p {
      color: rgb(209, 209, 209);
    }
  }
}

footer {
  background-color: hsl(237, 63%, 64%) !important;
  .navbar-brand {
    span {
      color: hsl(236, 72%, 79%) !important;
    }
  }

  .social-media {
    li {
      img {
        cursor: pointer;
      }
    }
  }
}

button:hover,
.see-more:hover {
  opacity: 0.9;
}
