@import "./variables";
@import "./global";
@import "./animation";
@import "./mode";
@import "./loading";
@import "./responsive";

.overview-layer-navbarnav {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0);
  opacity: 0;
  display: none;
  z-index: 10000000000 !important;
  transition: all 0.4s ease-in-out;
}

.collapse:not(.show) {
  display: flex !important;
}

#name-length,
#email-length,
#message-length {
  position: absolute;
  right: 21px;
}

#name-length {
  top: 17px;
}
#email-length {
  top: 74px;
}
#message-length {
  top: 72%;
}

.arrow-top {
  background-color: $r-color;
  width: 60px;
  height: 60px;
  // border-radius: 50%;
  position: fixed;
  // right: 10px;
  right: -77px;
  transition: all 0.4s ease-in-out;
  bottom: 30px;
  z-index: 100000;
  svg {
    font-size: 30px;
  }
}

.decor-one-line,
.decor-two-line,
.decor-one-circle,
.decor-two-circle {
  position: absolute;
  z-index: -1;
  width: 220px;
}

.decor-one-circle {
  top: 0;
  right: 20px;
}

.decor-one-line {
  top: 0;
  left: 20px;
}

.decor-two-line {
  bottom: 30px;
  right: 20px;
}

.decor-two-circle {
  bottom: 0;
  left: 20px;
}

.contact {
  position: relative;
}

.skills {
  position: relative;
}

@media (max-width: 767px) {
  .about {
    .container {
      .row {
        .col-sm-12 {
          text-align: center !important;
          h3 {
            text-align: center !important;
          }
          button {
            margin-right: auto;
            margin-left: auto;
          }
          &:last-child {
            display: none;
          }
        }
      }
    }
    img {
      display: none;
    }
  }
}
